<div class={{if this.modelFlag "popup-model active" "popup-model" }}>
    <div class="popup-container bt-radious bb-radious">
        <div class="header popup-header bt-radious bg-color-white">
            <span class="blue heading-font"> Select {{this.type}} </span>
            <span class="cls-button" onclick={{action "close" }}>&#215;</span>
            {{!-- <span class="cls-button">&#215;</span> --}}
        </div>
        <div class="search-bar bg-color-white">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <select class="select dropdown-selector" onchange={{action "handleProductFilter" }}>
                <option value="">All</option>
                {{!-- {{log this.category "category"}} --}}
                {{#each this.category as |item|}}
                <option value="{{item}}">{{item}}</option>
                {{/each}}
            </select>
            {{input class="input-box" type="text" placeholder="Search..." key-up=(action 'handleFilterEntry')
            value=value}}
        </div>
        {{!-- <div class="popup-model-content"> --}}
            {{#if this.deviceComponent}}
            {{device-component loading=this.loading model=this.model displaydata = this.displaydata selectedItems=this.selectedItems selectToggle = (action
            "selectToggle")}}
            {{/if}}

            {{#if this.groupComponent}}
            {{group-component loading=this.loading displaydata = this.displaydata selectedItems=this.selectedItems selectToggle = (action
            "selectToggle")}}
            {{/if}}
            {{!-- </div> --}}
        
        {{!-- {{/if}} --}}
        <div class="popup-model-footer bg-color-white bb-radious">
            <input type="button" class="select-btn btn-br {{if this.selectedItems.length "
                bg-color-primary" "bg-color-gray" }}" value="Select ({{this.selectedItems.length}})"
                onclick={{action "select" }}>
        </div>

    </div>
</div>

{{yield}}