
{{!-- {{log this.model "model"}} --}}
<div class="popup-model bt-radious bb-radious">
    <div class="popup-container">
        <div class="header popup-header bt-radious">
            <span > Select {{this.type}} </span> 
            <span class="cls-button" onclick={{action "close"}}>&#215;</span>
        </div>
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            {{#if this.component_type}}
            <select class="select dropdown-selector" onchange={{action "handleProductFilter"}}>
                <option value="">All</option>
                {{#each this.category as |item|}}
                <option value="{{item}}">{{item}}</option>
                {{/each}}
            </select>
            {{else}}
            <select class="select dropdown-selector" onchange={{action "handleProductFilter"}}>
                <option value="">All</option>
                {{#each this.category as |item|}}
                <option value="{{item}}">{{item}}</option>
                {{/each}}

            </select>
            {{/if}}

            {{input class="input-box" type="text" placeholder="Search..." key-up=(action 'handleFilterEntry') value=value}}
        </div>
        <div class="popup-model-content">
            {{#if this.component_type}}
            {{#each this.displaydata as |item|}}
            {{#if item.selected}}
            <div class="group-container selected" onclick={{action "selectToggle" item}}>
                <i class="fa-sharp fa-solid fa-folder-closed icon"></i>
                <div class="group-component">
                    <span class="group-name">{{item.name}}</span>
                    <span><i class="fa-solid fa-mobile"></i> {{item.device.length}} devices</span>
                </div>

            </div>
            {{else}}
            <div class="group-container " onclick={{action "selectToggle" item}}>
                <i class="fa-sharp fa-solid fa-folder-closed icon"></i>
                <div class="group-component">
                    <span class="group-name">{{item.name}}</span>
                    <span><i class="fa-solid fa-mobile"></i> {{item.device.length}} devices</span>
                </div>

            </div>
             {{/if}}
                
            {{/each}}
            {{else}}
            {{#each this.displaydata as |item|}}
            {{#if item.selected}}
            <div class="group-container selected" onclick={{action "selectToggle" item}}>
                <i class="fa-brands fa-{{item.os}} icon"></i>
                <div class="group-component">
                    <span>{{item.device}}</span>
                    <span><i class="fa-solid fa-mobile"></i> {{item.name}}</span>
                </div>

            </div>
            {{else}}
            <div class="group-container" onclick={{action "selectToggle" item}}>
                <i class="fa-brands fa-{{item.os}} icon"></i>
                <div class="group-component">
                    <span>{{item.device}}</span>
                    <span><i class="fa-solid fa-mobile"></i> {{item.name}}</span>
                </div>

            </div>
            {{/if}}


            {{/each}}
            {{/if}}

        </div>
        <div class="popup-model-footer bb-radious">
            {{#if this.component_type}}
            <input type="button" class="footer-select-btn bb-radious bt-radious" value="Select {{this.selectedGroupItems.length}}" onclick={{action "select"}}>
            {{else}}
            <input type="button" class="footer-select-btn bb-radious bt-radious" value="Select {{this.selectedDeviceItems.length}}" onclick={{action "select"}}>
            {{/if}}

        </div>
        
    </div>
</div>

{{yield}}