<div class="header paddinh-h">
    <h1 class="heading">pop-up  model</h1>
</div>
<div class="header-cramb padding-h">
    <p><a href="#">Groups</a>/ Group&amp;Devices</p>
</div>
<div class="btn-model">
<button class="btn btn-light" onclick={{action "openGroups"}}> Group</button>
<button class="btn btn-light" onclick={{action "openDevices"}}>Devices</button>
</div>
{{!-- {{log this.model}} --}}

{{#if this.modelFlag}}
{{popup-model type=this.type component=this.modelFlag model=this.modelData category=this.category}}
{{/if}}

{{outlet}}