<div class="header paddinh-h">
    <h1 class="heading">pop-up  model</h1>
</div>
<div class="header-cramb padding-h">
    <p><a href="#">Groups</a>/ Group&amp;Devices</p>
</div>
<div class="btn-model">
<button class="btn btn-light" onclick={{action "openGroups"}}> Group</button>
<button class="btn btn-light" onclick={{action "openDevices"}}>Devices</button>
</div>
{{!-- {{log this.model}} --}}
{{#if this.groupModel}}
{{popup-model type=this.type groupModel=this.groupModel model=this.model.groups}}
{{/if}}
{{#if this.deviceModel}}
{{popup-model type=this.type deviceModel=this.deviceModel model=this.model.devices}}
{{/if}}

{{outlet}}